<div class="top-header-area" id="sticker">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 text-center">
        <div class="main-menu-wrap">
          <!-- logo -->
          <div class="site-logo">
            <a href="index.html">
              <img src="assets/img/logo.png" alt="" />
            </a>
          </div>
          <!-- logo -->

          <!-- menu start -->
          <nav class="main-menu">
            <ul>
              <li class="current-list-item">
                <a routerLinkActive="active" href="/home">Home</a>
              </li>
              <li><a href="about.html">About</a></li>
              <li>
                <a href="#">Pages</a>
                <ul class="sub-menu">
                  <li><a href="404.html">404 page</a></li>
                  <li><a href="about.html">About</a></li>
                  <li><a href="cart.html">Cart</a></li>
                  <li><a href="checkout.html">Check Out</a></li>
                  <li><a href="contact.html">Contact</a></li>
                  <li><a href="news.html">News</a></li>
                  <li><a href="shop.html">Shop</a></li>
                </ul>
              </li>
              <li>
                <a href="news.html">News</a>
                <ul class="sub-menu">
                  <li><a href="news.html">News</a></li>
                  <li><a href="single-news.html">Single News</a></li>
                </ul>
              </li>
              <li><a href="contact.html">Contact</a></li>
              <li>
                <a href="shop.html">Shop</a>
                <ul class="sub-menu">
                  <li><a href="shop.html">Shop</a></li>
                  <li><a href="checkout.html">Check Out</a></li>
                  <li><a href="single-product.html">Single Product</a></li>
                  <li><a href="cart.html">Cart</a></li>
                </ul>
              </li>
              <li>
                <div class="header-icons">
                  <a class="shopping-cart"><i class="fas fa-shopping-cart" data-bs-toggle="offcanvas"
                  data-bs-target="#offcanvasRight"
                  aria-controls="offcanvasRight"
                  id="cartIcon"></i></a>
                </div>
              </li>
            </ul>
          </nav>
          <div class="mobile-menu"></div>
          <!-- menu end -->
        </div>
      </div>
    </div>
  </div>
  <div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Cart Details</h5>
    <!-- <img src="rescources/cart.png" style="width: 35px" /> -->
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <!-- <div id="addedProducts"></div> -->
    <div id="noProducts" class="">
      <img src="assets/img/emptycart.png" id="emptyCart" />
      <div *ngFor="let product of addedProducts">{{product.product_title}}</div>
      <button
        id="contShopping"
        class="btn position-relative bottom-0 start-50 translate-middle-x"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
        (click)="test()"
      >
        Continue Shopping
      </button>
    </div>
    <div id="addedToCart" class="turnOff">
      <div id="addedProducts"></div>

      <button class="btn" id="proceedBtn">
        <a href="checkout/checkout.html" id="proceedBtnWord">Proceed</a>
      </button>
    </div>
  </div>
</div>
</div>

