#cartIcon{
  cursor: pointer;
  font-size: 2vw;
  margin-top: 0.6vh;
}

.offcanvas-header{
  background-color: #f28123;
}
.offcanvas{
  box-shadow:
    rgba(0, 0, 0, 0.024) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.05) 0px 1px 0px 0px,
    rgba(0, 0, 0, 0.03) 0px 0px 8px 0px,
    rgba(0, 0, 0, 0.1) 0px 20px 30px 0px;
  border-radius: 10px;
}
#ordersCount{
  font-size: 13px;
  background-color: #f28123 !important;
  padding: 3px !important;
  border-radius: 70%;
}
/* .notifications-bell:hover{
  #ordersCount{
    color:white !important;
  }
  #cartIcon{
    color: #f28123;
  }
} */
.headLinks li a{
  text-decoration: none;
  font-size: 16px;
  margin-inline: 1vw;
  font-family: "Poppins", sans-serif;
}
#userData{
  margin-right: -1.5vw;
}
