<div class="top-header-area" id="sticker">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 text-center">
        <div class="main-menu-wrap">
          <!-- logo -->
          <div class="site-logo">
            <a href="index.html">
              <img src="assets/img/logo.png" alt="" />
            </a>
          </div>
          <!-- logo -->

          <!-- menu start -->
          <nav class="main-menu">
            <ul>
              <li class="current-list-item">
                <a routerLinkActive="active" href="/home">Home</a>
              </li>
              <li><a href="#videoSec">About</a></li>
              <li>
                <a href="#">Pages</a>
                <ul class="sub-menu">
                  <li><a href="404.html">404 page</a></li>
                  <li><a href="#videoSec">About</a></li>
                  <li><a href="cart.html">Cart</a></li>
                  <li><a href="checkout.html">Check Out</a></li>
                  <li><a href="contact.html">Contact</a></li>
                  <li><a href="#newsSec">News</a></li>
                  <li><a href="#stores">Shop</a></li>
                </ul>
              </li>
              <li>
                <a href="#newsSec">News</a>
                <ul class="sub-menu">
                  <li><a href="news.html">News</a></li>
                  <li><a href="single-news.html">Single News</a></li>
                </ul>
              </li>
              <li><a href="contact.html">Contact</a></li>
              <li>
                <a href="shop.html">Shop</a>
                <ul class="sub-menu">
                  <li><a href="shop.html">Shop</a></li>
                  <li><a href="checkout.html">Check Out</a></li>
                  <li><a href="single-product.html">Single Product</a></li>
                  <li><a href="cart.html">Cart</a></li>
                </ul>
              </li>
              <li>
                <div class="header-icons">
                  <a class="shopping-cart"
                    ><i
                      class="fas fa-shopping-cart"
                      data-bs-toggle="offcanvas"
                      data-bs-target="#offcanvasScrolling"
                      aria-controls="offcanvasScrolling"
                      id="cartIcon"
                    ></i
                  ></a>
                </div>
              </li>
            </ul>
          </nav>
          <div class="mobile-menu"></div>
          <!-- menu end -->
        </div>
      </div>
    </div>
  </div>
  <div
    class="offcanvas offcanvas-end w-25 "
    data-bs-scroll="true"
    data-bs-backdrop="false"
    tabindex="-1"
    id="offcanvasScrolling"
    aria-labelledby="offcanvasScrollingLabel"
  >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasScrollingLabel">
        Cart Details
      </h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <div *ngFor="let product of addedProducts">
        <p>{{product.product_title}}</p>
        <p>{{product.price}}</p>
      </div>
    </div>
  </div>
</div>
