#formContainer {
  padding: 50px;
  margin: 50px auto;
  width: 50%;
  box-shadow: #051922;
  background-color: #012738;
}
#formContainer label {
  color: #f28123;
}

#formContainer p {
  color: red;
}
