<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <p>Taste Of Hebab</p>
          <h1>Order Details</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
<table class="table table-bordered text-center table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Date</th>
      <th scope="col">Status</th>
      <th scope="col">Total Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{order._id}}</td>
      <td>{{order.date}}</td>
      <td>{{order.status}}</td>
      <td>{{order.total_price}}</td>
    </tr>
  </tbody>
</table>
<table class="table table-bordered text-center table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Product name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Description</th>
      <th scope="col">Image</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let op of order.products">
      <td>{{op.product_name}}</td>
      <td>{{op.price}}</td>
      <td>{{op.quantity}}</td>
      <td>{{op.product_details}}</td>
      <td>{{op.product_image}}</td>
    </tr>
  </tbody>
</table>
</div>
