.carousel-item{
  width: 100%;
}
.carousel-item *{
  position: relative;
  left: 41.5vw;
}
.carousel-item img{
  border-radius: 50%;
  width: 10vw !important;
  height: 20vh !important;
}
.carousel-item h1{
  width: 100%;
  position: relative;
  left: 0.1vw;
  text-align: center;
  margin-bottom: 0;
  font-size: 2.2vw;
  margin-top: 2vh;
}
.carousel-item p{
  width: 100%;
  position: relative;
  left: 0.1vw;
  text-align: center;
  font-size: 1.5vw;
  color: darkgray;
}
.city{
  font-weight: 700;
}
#videoSec{
  margin-top: 20vh !important;
}
#dealSec{
  margin-bottom: 20vh !important;

}
.last-icon{
  width: 100%;
  position: relative;
  left: 4vw !important;
  font-size: 2vw;
}
#storesImages{
  width: 280px;
  height: 280px;
}
