<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <p>kol w ed3eely</p>
          <h1>User Profile</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end breadcrumb section -->

<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet"
/>

<div *ngIf="user; else falseBlock" class="container bootstrap snippets bootdey">
  <div class="row">
    <div class="profile-nav col-md-3">
      <div class="panel">
        <div class="user-heading round">
          <a href="#">
            <img [src]="localhost + user.user_image" alt="" />
          </a>
          <h1></h1>
          <p></p>
        </div>

        <ul class="nav nav-pills nav-stacked">
          <li class="active">
            <a href="#"> <i class="fa fa-user"></i> Profile</a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-calendar"></i> Recent Activity
              <span class="label label-warning pull-right r-activity"
                >9</span
              ></a
            >
          </li>
          <li>
            <a href="#"> <i class="fa fa-edit"></i> Edit profile</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="profile-info col-md-9">
      <div class="panel">
        <div class="panel-body bio-graph-info">
          <h1>Bio Graph</h1>
          <div class="row">
            <div class="bio-row">
              <p><span>First Name:</span>{{ user.user_name }}</p>
            </div>

            <div class="bio-row">
              <p><span>Address:</span> {{ user.address }}</p>
            </div>

            <div class="bio-row">
              <p><span>Email:</span> {{ user.email }}</p>
            </div>
            <div class="bio-row">
              <p><span>Mobile: </span>{{ user.mobile }}</p>
            </div>
            <div class="bio-row">
              <p><span>gender:</span>: {{ user.gender }}</p>
            </div>
          </div>
        </div>
      </div>
      <div></div>
    </div>
  </div>
</div>

<ng-template #falseBlock>
  <div class="loader">
    <div class="loader-inner">
      <div class="circle"></div>
    </div>
  </div>
</ng-template>
