<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <p>Taste Of Home</p>
          <h1>Login</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end breadcrumb section -->


<section class="vh-100" style="background-color: #051922">
  <div class="container py-5 h-100">
    <div
  class="alert alert-danger w-50 m-auto mb-2 "
  *ngIf="!validatedForm"
  role="alert"
>
  Wrong Credentials
</div>
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img
                src="assets/img/pasta.jpg"
                alt="login form"
                class="img-fluid"
                style="border-radius: 1rem 0 0 1rem"
              />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form
                  [formGroup]="validationForm"
                  (ngSubmit)="add(email.value, password.value)"
                >
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <!-- <i
                      class="fas fa-cubes fa-2x me-3"
                      style="color: #ff6219"
                    ></i>
                    <span class="h1 fw-bold mb-0">Logo</span> -->
                    <img class="w-50" src="assets/img/logo.png" alt="logo">
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px">
                    Sign into your account
                  </h5>

                  <div class="form-outline mb-4">
                    <input
                      formControlName="email"
                      type="email"
                      class="form-control form-control-lg"
                      id="email"
                      placeholder="Email"
                      #email
                    />
                    <div class="mt-1" *ngIf="!emailValid">
                      <p>Enter correct Email</p>
                    </div>
                    <label class="form-label" for="email"
                      >Email address</label
                    >
                  </div>

                  <div class="form-outline mb-4">
                    <input
                    formControlName="password"
                    type="password"
                    class="form-control form-control-lg"
                    id="password"
                    placeholder="Password"
                    #password
                  />
                  <div class="mt-1" *ngIf="!passwordValid">
                    <p>not less than 8 characters</p>
                  </div>
                    <label class="form-label" for="password"
                      >Password</label
                    >
                  </div>

                  <div class="pt-1 mb-4">
    <input type="submit" class="btn btn-dark btn-lg btn-block" value="Login" />

                    <!-- <button class="btn btn-dark btn-lg btn-block" type="button">
                      Login
                    </button> -->
                  </div>

                  <a class="small text-muted" href="#!">Forgot password?</a>
                  <p class="mb-5 pb-lg-2" style="color: #393f81">
                    Don't have an account?
                    <a href="/register" style="color: #393f81">Register here</a>
                  </p>
                  <a href="#!" class="small text-muted">Terms of use.</a>
                  <a href="#!" class="small text-muted">Privacy policy</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
