<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <p>Taste Of Hebab</p>
          <h1>Checkout</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end breadcrumb section -->
<div class="container" id="all-container">
  <div class="container mt-5" id="container">
    <div id="payment-method">
      <header>Payment Method</header>
      <div class="head">
        <label>
          <input
            type="radio"
            name="payment"
            value="cash"
            (click)="hideInfo()"
          />
          Cash on Delivery
        </label>
        <label>
          <input
            type="radio"
            name="payment"
            value="card"
            (click)="showInfo()"
          />
          Credit Card
        </label>
      </div>
      <div class="cardContainer hideCardInfo">
        <section>
          <label>Name on Card</label>
          <input placeholder="John Doe" />
        </section>
        <section>
          <label>Credit card number</label>
          <input placeholder="1111-2222-3333-4444" />
        </section>
        <section>
          <label>Exp Month</label>
          <input placeholder="September" />
        </section>
        <section style="display: flex;">
          <section style="display: flex; flex-direction: column; margin-top:0px ;">
          <label>Exp Year</label>
          <input class="half" placeholder="2023" />
          </section>
          <section style="display: flex; flex-direction: column; margin-top:0px ;">
          <label>CCV</label>
          <input class="half" placeholder="352" />
          </section>
        </section>
      </div>
    </div>
    <div id="receipt">
      <div id="details" *ngFor="let product of allProducts">
        <div id="products">
          {{ product.product_title }} <span>x {{ product.quantity }}</span>
          <p>{{ product.product_details }}</p>
        </div>
        <div id="price">
          ${{ product.price * product.quantity | number : "1.1-1" }}
        </div>
      </div>
      <hr />
      <div id="subtotal">
        <div id="sub">
          Subtotal
          <p>${{ totalCost | number : "1.1-1" }}</p>
        </div>
        <div id="tax">
          Tax
          <p>${{ totalCost * 0.1 | number : "1.1-1" }}</p>
        </div>
      </div>
      <hr />
      <div id="total">
        <p>Total</p>
        <p>${{ totalCost * 1.1 | number : "1.1-1" }}</p>
      </div>
      <input type="submit" (click)="AddOrder()" value="Confirm Order" />
    </div>
  </div>
</div>
