<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid"
          alt="Sample image"
        />
      </div>

      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 mt-5">
        <form
          (ngSubmit)="
            AddStore(
              userID.value,
              name.value,
              image.value,
              city.value,
              product_image.value,
              product_title.value,
              price.value,
              product_details.value,
              fbUserID.value,
              comment.value,
              date.value,
              stars.value
            )
          "
        >
          <!-- UserID input -->
          <div class="form-outline">
            <input
              formControlName="userID"
              #userID
              type="text"
              class="form-control form-control-lg"
              placeholder="Enter userID"
            />
            <label class="form-label" for="form3Example3">UserID</label>
          </div>
          <!-- <div *ngIf="!NameValid" class="alert alert-danger mb-4">
            Name must be at least 3 characters long.
          </div> -->

          <!-- Name input -->
          <div class="form-outline">
            <input
              formControlName="name"
              #name
              type="text"
              class="form-control form-control-lg"
              placeholder="Enter Name"
            />
            <label class="form-label" for="form3Example3">Name</label>
          </div>

          <!-- Image input -->
          <div class="form-outline">
            <input
              formControlName="image"
              #image
              type="text"
              class="form-control form-control-lg"
              placeholder="Enter Image"
            />
            <label class="form-label" for="form3Example3">Image</label>
          </div>

          <!-- city input -->
          <div class="form-outline">
            <input
              formControlName="city"
              #city
              type="text"
              class="form-control form-control-lg"
              placeholder="Enter city"
            />
            <label class="form-label" for="form3Example3">city</label>
          </div>

          <h3>Menu</h3>
          <input
            type="text"
            class="form-control form-control-lg"
            placeholder="Product Image"
            #product_image
          />
          <input
            type="text"
            class="form-control form-control-lg"
            placeholder="Product Title"
            #product_title
          />
          <input
            type="text"
            class="form-control form-control-lg"
            placeholder="Price"
            #price
          />
          <input
            type="text"
            class="form-control form-control-lg"
            placeholder="product_details"
            #product_details
          />

          <h3>Feedback</h3>

          <div class="form-outline">
            <input
              formControlName="fbUserID"
              #fbUserID
              type="text"
              class="form-control form-control-lg"
              placeholder="Enter fbUserID"
            />
            <label class="form-label" for="form3Example3"
              >feedback UserID</label
            >
          </div>
          <div class="form-outline">
            <input
              formControlName="comment"
              #comment
              type="text"
              class="form-control form-control-lg"
              placeholder="Enter comment"
            />
            <label class="form-label" for="form3Example3">Comment</label>
          </div>

          <div class="form-outline">
            <input
              formControlName="date"
              #date
              type="date"
              class="form-control form-control-lg"
              placeholder="Enter date"
            />
            <label class="form-label" for="form3Example3">date</label>
          </div>

          <div class="form-outline">
            <input
              formControlName="stars"
              #stars
              type="number"
              min="1"
              max="5"
              class="form-control form-control-lg"
              placeholder="Enter stars"
            />
            <label class="form-label" for="form3Example3">stars</label>
          </div>

          <input
            type="submit"
            class="btn btn-outline-primary btn-lg"
            style="padding-left: 2.5rem; padding-right: 2.5rem"
            value="Register"
          />
        </form>
      </div>
    </div>
  </div>
</section>
