<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid"
          alt="Sample image"
        />
      </div>

      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 mt-5">
        <form
          (ngSubmit)="
            updateStore(userID.value, name.value, image.value, city.value)
          "
        >
          <!-- UserID input -->
          <div class="form-outline">
            <input
              #userID
              type="text"
              class="form-control form-control-lg"
              placeholder="Enter userID"
            />
            <label class="form-label" for="form3Example3">UserID</label>
          </div>
          <!-- <div *ngIf="!NameValid" class="alert alert-danger mb-4">
            Name must be at least 3 characters long.
          </div> -->

          <!-- Name input -->
          <div class="form-outline">
            <input
              #name
              type="text"
              class="form-control form-control-lg"
              placeholder="Enter Name"
            />
            <label class="form-label" for="form3Example3">Name</label>
          </div>

          <!-- Image input -->
          <div class="form-outline">
            <input
              #image
              type="file"
              class="form-control form-control-lg"
              placeholder="Enter Image"
            />
            <label class="form-label" for="form3Example3">Image</label>
          </div>

          <!-- city input -->
          <div class="form-outline">
            <input
              #city
              type="text"
              class="form-control form-control-lg"
              placeholder="Enter city"
            />
            <label class="form-label" for="form3Example3">city</label>
          </div>

          <input
            type="submit"
            class="btn btn-outline-primary btn-lg"
            style="padding-left: 2.5rem; padding-right: 2.5rem"
            value="Register"
          />
        </form>
      </div>
    </div>
  </div>
</section>
