.outerContainer {
  /* border: solid 3px brown; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 2vw;
  margin: 10px 0px;
}

.storeDetailsContainer {
  width: 30vw;
  display: flex;
}

img {
  width: 30%;
  height: 100%;
}

.storeDetails {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.paymentContainer .status {
  color: green;
  text-align: center;
}

.payments {
  width: 10vw;
}

.payments img {
  max-width: 35px;
  height: 20px;
  margin-right: 5px;
}

.tabsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabsContainer > div {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabContainer {
  font-size: 50px;
  cursor: pointer;
}

.tabContainer i {
  color: orangered;
}

.tabContainer.active {
  border-bottom: 5px solid orangered;
}

.tabContainer > * {
  margin-right: 20px;
}


