<p class="alert alert-dark">allorders works!</p>
<table class="table table-bordered text-center table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Date</th>
      <th scope="col">Status</th>
      <th scope="col">Total Price</th>
      <th scope="col">More</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let o of orders">
      <td>{{o._id}}</td>
      <td>{{o.date}}</td>
      <td>{{o.status}}</td>
      <td>{{o.total_price}}</td>
      <!-- <td><a class='bg-primary text-light border border-primary rounded text-decoration-none p-1' (click)="Update(o._id)">Accept</a></td>
          <td><a class='bg-warning text-light border border-warning rounded text-decoration-none p-1' routerLink="/students/{{s.id}}/edit">Reject</a></td>
          <td><a class='bg-danger text-light border border-danger rounded text-decoration-none p-1' href="#" (click)="Delete(s.id)">More details</a></td> -->
      <td><input type="submit" routerLink="/orders/{{o.id}}" value="view" class="btn btn-warning"/></td>
    </tr>
  </tbody>
</table>
