<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <p>Taste Of Hebab</p>
          <h1>All orders</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end breadcrumb section -->
<!-- ********Beginning of admin's and store owner's orders page******** -->
<table
  class="table table-bordered border-dark text-center table-striped mt-5 container col-sm-5"
  style="background-color: #f5f5f5"
  *ngIf="user_data.role === 'seller' || user_data.role === 'admin'"
>
  <thead
    class="table-bordered border-dark"
    style="background-color: #051922; color: #f28123"
  >
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Date</th>
      <th scope="col">Status</th>
      <th scope="col">Total Price</th>
      <th scope="col">User</th>
      <th scope="col">Store</th>
      <th scope="col">Action</th>
      <th scope="col">More</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr *ngFor="let o of orders">
      <td>{{ o._id }}</td>
      <td>{{ o.date | date : "dd/MM/yyyy" }}</td>
      <td>{{ o.status }}</td>
      <td>{{ o.total_price | number : "1.2-2" }}</td>
      <td>{{ o.user_id.user_name }}</td>
      <td>{{ o.store_id.name }}</td>
      <td>
        <div
          class="d-flex flex-row justify-content-around align-items-center"
          *ngIf="o.status == 'Pending'; else ifBlock"
        >
          <form
            (ngSubmit)="
              Update(
                o._id,
                'Accepted',
                o.user_id._id,
                o.store_id._id,
                o.products
              )
            "
          >
            <input
              type="submit"
              class="btn btn-outline-primary"
              style="padding-left: 1rem; padding-right: 1rem"
              value="Accept"
              routerLink="/orders"
            />
          </form>
          <form
            (ngSubmit)="
              Update(
                o._id,
                'Cancelled',
                o.user_id._id,
                o.store_id._id,
                o.products
              )
            "
          >
            <input
              type="submit"
              class="btn btn-outline-danger"
              style="padding-left: 1rem; padding-right: 1rem"
              value="Reject"
            />
          </form>
        </div>
        <ng-template #ifBlock>
          <div *ngIf="o.status == 'Accepted'; else elseBlock">
            <i class="fa-solid fa-check" style="color: #3f7e0c"></i>
          </div>

          <ng-template #elseBlock>
            <div><i class="fas fa-times" style="color: #af0404"></i></div>
          </ng-template>
        </ng-template>
      </td>
      <td>
        <input
          type="submit"
          routerLink="/orders/{{ o.id }}"
          value="view"
          class="btn btn-outline-warning"
          style="padding-left: 1rem; padding-right: 1rem"
        />
      </td>
    </tr>
  </tbody>
</table>
<!-- ********End of admin's and store owner's orders page******** -->

<!-- ********Beginning of usesr's orders page******** -->
<link
  rel="stylesheet"
  href="https://allyoucan.cloud/cdn/icofont/1.0.1/icofont.css"
  integrity="sha384-jbCTJB16Q17718YM9U22iJkhuGbS0Gd2LjaWb4YJEZToOPmnKDjySVa323U+W7Fv"
  crossorigin="anonymous"
/>

<div
  *ngIf="user_data.role === 'buyer'"
  class="container d-flex justify-content-around align-items-center"
>
  <div class="col-md-10">
    <div class="osahan-account-page-right shadow-sm bg-white p-4 h-100">
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade active show"
          id="orders"
          role="tabpanel"
          aria-labelledby="orders-tab"
        >
          <div
            class="bg-white mb-5 card p-1 order-list shadow-sm"
            *ngFor="let o of orders"
          >
            <div class="gold-members py-4">
              <div
                class="media d-flex justify-content-around align-items-center gap-5"
              >
                <div class="imgContainer mr-2">
                  <a href="#">
                    <img
                      class="img-fluid custom-img"
                      [src]="localhost + o.store_id.image"
                      alt="Generic placeholder image"
                    />
                  </a>
                </div>
                <div
                  class="media-body d-flex flex-column justify-content-around ml-2"
                >
                  <div class="mb-3">
                    <span class="float-right text-info"
                      >Ordered on {{ o.date | date : "dd/MM/yyyy" }}
                      <i class="icofont-check-circled text-success"></i
                    ></span>
                  </div>
                  <div>
                    <h6 class="mb-2">
                      <a href="#" class="text-black">{{ o.store_id.name }}</a>
                    </h6>
                  </div>
                  <div class="text-gray mb-1">
                    <i class="icofont-location-arrow"></i>Order ID: {{ o._id }}
                  </div>
                  <div class="text-gray mb-1">
                    <i class="icofont-list"></i>{{ o.status }}
                  </div>
                  <hr />

                  <p class="mb-0 text-black text-primary pt-2">
                    <span class="text-black font-weight-bold">
                      Total Paid:</span
                    >
                    {{ o.total_price | number : "1.2-2" }}
                  </p>
                </div>
                <div class="float-right d-flex">
                  <input
                    type="submit"
                    routerLink="/orders/{{ o.id }}"
                    value="view"
                    class="btn btn-outline-warning"
                    style="padding-left: 1rem; padding-right: 1rem"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ********End of user's orders page******** -->
