<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <p>Taste Of Hebab</p>
          <h1>Create order</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 mt-5">
        <form [formGroup]="validationForm" (ngSubmit)="AddOrder(product_name.value,product_image.value, price.value, product_details.value, quantity.value)">
          <div class="form-outline">
            <input formControlName="product_name" #product_name type="text" id="productName" class="form-control form-control-lg"
              placeholder="Enter product name" />
            <label class="form-label" for="form3Example3">Product Name</label>
          </div>
          <div class="form-outline">
            <input formControlName="product_image" #product_image type="text" id="name" class="form-control form-control-lg"
              placeholder="Enter image path" />
            <label class="form-label" for="form3Example3">Image</label>
          </div>
          <div class="form-outline">
            <input formControlName="price" #price type="number" id="name" class="form-control form-control-lg"
              placeholder="Enter product price" />
            <label class="form-label" for="form3Example3">Price</label>
          </div>
          <div class="form-outline">
            <input formControlName="product_details" #product_details type="text" id="name" class="form-control form-control-lg"
              placeholder="Enter product details" />
            <label class="form-label" for="form3Example3">Details</label>
          </div>
          <div class="form-outline">
            <input formControlName="quantity" #quantity type="number" id="name" class="form-control form-control-lg"
              placeholder="Enter quantity" />
            <label class="form-label" for="form3Example3">Quantity</label>
          </div>
              <input type="submit" class="btn btn-outline-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;" value="Submit Order"/>
        </form>
      </div>
    </div>
  </div>
</section>
